<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="SqlServer"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DBLocadoraTest;Integrated Security=True;Pooling=False" />
  </connectionStrings>

  <appSettings>
    <add key ="bancoDeDados" value="SqlServer"/>
  </appSettings>
</configuration>