<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>

    <add name="SqlServer"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DBLocadora;Integrated Security=True" />
  </connectionStrings>

  <appSettings>
    <add key ="bancoDeDados" value="SqlServer"/>
    <add key ="precoGasolina" value="0"/>
    <add key ="precoGas" value="0"/>
    <add key ="precoDieses" value="0"/>
    <add key ="precoAlcool" value="0"/>
    <add key ="horaAbertura" value="8:00:00"/>
    <add key ="horaFechamento" value="18:00:00"/>
    <add key ="abreNoSabado" value="false"/>
    <add key ="abreNoDomingo" value="false"/>
  </appSettings>
</configuration>