<log4net debug="true">
	<root>
		<level value="ALL" />
		<appender-ref ref="console" />
		<appender-ref ref="FileAppenderXml" />
		<appender-ref ref="SeqAppender" />
	</root>

	<appender name="console" type="log4net.Appender.ColoredConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
	</appender>

	<appender name="FileAppenderXml" type="log4net.Appender.RollingFileAppender">
		<file value="logs\" />
		<datePattern value="dd.MM.yyyy'.xml'" />
		<staticLogFileName value="false" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<appendToFile value="true"/>
		<layout type="LocadoraDeVeiculos.Infra.Log.XmlLayoutSchemaLog4j">
			<locationInfo value="true"/>
		</layout>
		<param name="Encoding" value="utf-8" />
	</appender>


	<appender name="SeqAppender" type="Seq.Client.Log4Net.SeqAppender, Seq.Client.Log4Net" >
		<bufferSize value="1" />
		<serverUrl value="http://localhost:5341" />
		<apiKey value="AiiKth0dh10kzpbsCYjG" />
	</appender>
</log4net>